service_type: iscsi
service_id: {{ item.name }}
placement:
  hosts:
{% for host in item.placement.hosts %}
    - {{ host }}
{% endfor %}
spec:
  pool: {{ item.pool }}
  api_user: {{ item.api_user }}
  api_password: {{ item.api_password }}